{% extends 'base.html.twig' %}
{% block body %}
      <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h2>Listagem de vacas</h2>

          {% if tipo is defined %}
            <div id="message" class="alert alert-success fade in" onmousemove="closeAlert();">
              <strong>Sucesso!</strong>
                  A vaca foi {{ tipo|e }}.
              <a class="close" data-dismiss="alert" href="#">&times;</a>
            </div>
          {% endif %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
          <table class="table">
            <thead>
              <tr>
                <td>Id</td>
                <td>Peso</td>
                <td class="hidden-xs hidden-sm">Idade</td>
                <td class="hidden-xs hidden-sm">Preço</td>
                <td colspan="2">Ações</td>
              </tr>
            </thead>
            <tbody>
              {% for vaca in vacas %}
              <tr>
                <td id="id">{{ vaca.id|e }}</td>
                <td id="peso">{{ vaca.weight|e }}</td>
                <td class="hidden-xs hidden-sm" id="idade">{{ vaca.age|e }}</td>
                <td class="hidden-xs hidden-sm" id="preco">{{ vaca.price|e }}</td>
                <td>
                  <a href="javascript:confirmar({{ vaca.id|e }});"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
                <td>
                  <a href="/vacas/mostra/{{ vaca.id|e }}"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">

  function closeAlert(){
    $('#message').alert('close');
  }

  function confirmar(id){
    if(confirm('Confirmar a exclusão da vaca '+id+' ??')) {
      document.location = "/vacas/remove/"+id;
    }
  }
</script>
{% endblock %}
