{% extends 'base.html.twig' %}
{% block body %}
<div class="page-header text-left path">
  <h4><b>Listagem de Vacas</b></h4>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-md-offset-1">

  {% if tipo is defined %}
    <div id="message" class="alert alert-success fade in" onmousemove="closeAlert();">
      <strong>Sucesso!</strong>
          A vaca foi {{ tipo|e }}.
      <a class="close" data-dismiss="alert" href="#">&times;</a>
    </div>
  {% endif %}
</div>
<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
  <table class="table">
    <thead>
      <tr class="indices">
        <td>Id</td>
        <td class="hidden-xs">Peso</td>
        <td class="hidden-xs">Idade</td>
        <td class="hidden-xs">Preço</td>
        <td class="hidden-xs hidden-sm">Pasto Mensal</td>
        <td class="hidden-xs hidden-sm">Pasto Anual</td>
        <td>Custo Benefício</td>
        <td colspan="2">Ações</td>
      </tr>
    </thead>
    <tbody>
      {% for vaca in vacas %}
      <tr class="{{ vaca.gerenciadorCusto.custoBeneficio == melhorVaca.gerenciadorCusto.custoBeneficio ? 'success' : '' }} ">
        <td id="id">{{ vaca.id|e }}</td>
        <td id="peso" class="hidden-xs">{{ vaca.weight|e }}</td>
        <td id="idade" class="hidden-xs">{{ vaca.age|e }}</td>
        <td id="preco" class="hidden-xs">R$ {{ vaca.price|e }}</td>
        <td id="pastoMensal" class="hidden-xs hidden-sm">R$ {{ vaca.gerenciadorCusto.pastoMensal|e }}</td>
        <td id="pastoAnual" class="hidden-xs hidden-sm">R$ {{ vaca.gerenciadorCusto.pastoAnual|e }}</td>
        <td id="custoBeneficio">R$ {{ vaca.gerenciadorCusto.custoBeneficio|e }}</td>
        <td>
          <a href="javascript:confirmar({{ vaca.id|e }});"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
        <td>
          <a href="/vacas/mostra/{{ vaca.id|e }}"><span class="glyphicon glyphicon-pencil"></span></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">

  function closeAlert(){
    $('#message').alert('close');
  }

  function confirmar(id){
    if(confirm('Confirmar a exclusão da vaca '+id+' ??')) {
      document.location = "/vacas/remove/"+id;
    }
  }
</script>
{% endblock %}
